body{
    background-color: aliceblue;
}
button {
    background-color: blue;
    color: aliceblue;
    padding: 5%;
}
.container{
    background-color: yellow;
    
}
#final-answer{
    background-color: red;
    color: aliceblue;
}
.col-sm {
    background-color: blueviolet;
}
.cat-btn {
    background-color: aqua;
}
.cat-1{
    display:flex;
    flex-direction: column;
}