body{
    background-image: url("https://ak1.picdn.net/shutterstock/videos/605761/thumb/1.jpg")
}
.jeopardy-logo {
    display: flex;
    justify-content: center;
    /* background: lemonchiffon; */
    padding: 5%;
}
button {
    background-color: blue;
    color: aliceblue;
    padding: 30px;
    width: 20vw;
}
.container{
    background-color: yellow;
    
}
#final-answer{
    background-color: red;
    color: aliceblue;
}
.col-sm {
    background-color: blueviolet;
}
.cat-btn {
    background-color:#141194;
    color: rgb(219, 218, 139);
    box-shadow: 5px 5px 10px black;
}
  /* .cat-1{
    display:flex;
    flex-direction: column;
}  */
#game-bord-container{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
} 
/* #stuff{
    display: flex;
    flex-direction: row;
} */

.jeopradyboard {
 display:flex;
 justify-content: center;
 border: ;
 padding: 40px;
 margin: 80px;
}
.wrong-answer {
    background-color: rgb(116, 72, 72);
    color: aliceblue;
    padding: 30px;
    width: 20vw;
    /* cursor: not-allowed; */
}
.right-answer {
    background-color: rgb(66, 112, 59);
    color: aliceblue;
    padding: 30px;
    width: 20vw;
    /* cursor: not-allowed; */
  
}
.answers {
    background: radial-gradient(darkblue,darkblue,blue);
    color: rgb(219, 218, 139);
    font-weight: bolder;
    padding: 30px;
    width: 20vw;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    cursor: pointer;
}