body{
    background-color: aliceblue;
}
button {
    background-color: blue;
    color: aliceblue;
    padding: 5%;
}
.container{
    background-color: yellow;
    
}
#final-answer{
    background-color: red;
    color: aliceblue;
}